@page
@model DetalleRegistroModel
@{
    ViewData["Title"] = "DetalleRegistro";
}

        <div class="text-center">
            <form method="post">
                <table width="66%" class="table-active">
                    <tr>
                        <td style="text-align: left">
                            <img src="@Model.url" width="250" height="300" />
                        </td>
                        <td style="text-align: left">
                    <tr>
                        <td>
                            Has registrado satisfactoriamente a
                        </td>
                        <td>@Model.regist.Nombre   @Model.regist.EsMacho</td>
                    </tr>

                    </td>
                </table>
                <input type="submit" value="Volver a Registro" class="btn-primary" />
            </form>
        </div>
