@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenido a la Veterinaria OASG</h1>
        <form class="text-center" method="post">
            <img src="https://wakyma.com/wakymavets/blog/wp-content/uploads/2017/08/7-Consejos-para-mejorar-el-rendimiento-de-ventas-de-tu-Cli%CC%81nica-Veterinaria.jpg" />
            <input type="submit" value="Ir A Registro Caninos" class="btn-primary" />
        </form>
    </div>
